body {
  background-color: #4285f4;
  font-family: "Lato", sans-serif;
}

h1 {
  color: #4285f4;
}

#profile-name {
  color: black;
}

#header-section {
  -webkit-box-shadow: 5px 5px 50px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 50px 8px rgba(0, 0, 0, 0.6);
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding: 15px;
  max-width: 850px;
  border-radius: 15px;
  text-align: center;
}

header {
  background-image: url("https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1066&q=80");
  border-radius: 5px;
}

#profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  width: 125px;
  height: 125px;
  transform: translatey(15%);
  border: 5px solid white;
}

#about-section {
  -webkit-box-shadow: 5px 5px 50px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 50px 8px rgba(0, 0, 0, 0.6);
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding: 15px;
  max-width: 850px;
  border-radius: 15px;
}

#about-line {
  width: auto;
  border: 1px solid lightgrey;
  background-color: lightgrey;
}

p {
  text-align: justify;
}

#skils-section {
  -webkit-box-shadow: 5px 5px 50px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 50px 8px rgba(0, 0, 0, 0.6);
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding: 15px;
  max-width: 850px;
  border-radius: 15px;
}

#skills-line {
  width: auto;
  border: 1px solid lightgrey;
  background-color: lightgrey;
}

#formation-section {
  -webkit-box-shadow: 5px 5px 50px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 50px 8px rgba(0, 0, 0, 0.6);
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding: 15px;
  max-width: 850px;
  border-radius: 15px;
}

#formation-line {
  width: auto;
  border: 1px solid lightgrey;
  background-color: lightgrey;
}

#projects-section {
  -webkit-box-shadow: 5px 5px 50px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 50px 8px rgba(0, 0, 0, 0.6);
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding: 15px;
  max-width: 850px;
  border-radius: 15px;
}

#projects-line {
  width: auto;
  border: 1px solid lightgrey;
  background-color: lightgrey;
}

#contacts-section {
  -webkit-box-shadow: 5px 5px 50px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 50px 8px rgba(0, 0, 0, 0.6);
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding: 15px;
  max-width: 850px;
  border-radius: 15px;
  text-align: center;
}

#logo-github {
  margin-left: auto;
  margin-right: 2%;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  width: 13%;
  height: 13%;
  border-radius: 100%;
}

#logo-linkedin {
  margin-left: auto;
  margin-right: 2%;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  width: 13%;
  height: 13%;
  border-radius: 100%;
}

#logo-codepen {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  width: 13%;
  height: 13%;
}

#logo-whatsapp {
  margin-left: auto;
  margin-right: 2%;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  width: 13%;
  height: 13%;
  border-radius: 100%;
}

#logo-telefone {
  margin-left: auto;
  margin-right: 2%;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  width: 13%;
  height: 13%;
  border-radius: 100%;
}

#logo-email {
  margin-left: auto;
  margin-right: 2%;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  width: 13%;
  height: 13%;
  border-radius: 100%;
}

#buttons {
  margin-top: 50px;
}

#career-line {
  width: auto;
  border: 1px solid lightgrey;
  background-color: lightgrey;
}

#career-section {
  -webkit-box-shadow: 5px 5px 50px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 50px 8px rgba(0, 0, 0, 0.6);
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding: 15px;
  max-width: 850px;
  border-radius: 15px;
}

#marcelo-pic1 {
  border-radius: 15px;
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contacts-section h1 {
  color: black;
}

#marcelo-pic2 {
  border-radius: 15px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#leg1 {
  text-align: center;
  color: grey;
  font-size: 12px;
}

#leg2 {
  text-align: center;
  color: grey;
  font-size: 12px;
}

#print {
  border-radius: 15px;
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#leg3 {
  text-align: center;
  color: grey;
  font-size: 12px;
}
